<!DOCTYPE html>
<html lang="en-US">
    
<head>
        <title>Vcard</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="format-detection" content="telephone=no"/>

        <link rel="shortcut icon" href="favicon.html"/>
        <link href='http://fonts.googleapis.com/css?family=Patua+One|Montserrat|Open+Sans:400,700,600' rel='stylesheet' type='text/css'/>
        <link href="/user/js/fancybox/jquery.fancybox8cbb.css?v=2.1.5" rel="stylesheet" type="text/css" media="screen"/>
        <link href="/user/js/mediaelement/mediaelementplayer.css" rel="stylesheet"/>
        <link href="/user/css/settings_style.css" rel="stylesheet"/>
        <link href="/user/css/style-print.css" type="text/css" media="print" rel="stylesheet"/>
        <link href="/user/css/skin_style.css" rel="stylesheet"/>
        <link href="/user/css/style.css" rel="stylesheet"/>
        <link href="/user/css/color_cheme.css" rel="stylesheet"/>
        <link href="/user/css/responsive.css" rel="stylesheet"/>

        <script src="/user/js/jquery-1.10.2.min.js"></script>
        <!--[if lt IE 9]>
        <script src="/reception/js/html5shiv.js"></script>
        <script src="/reception/js/respond.min.js"></script>
        <script>
            document.createElement('header');
            document.createElement('nav');
            document.createElement('section');
            document.createElement('article');
            document.createElement('aside');
            document.createElement('footer');
        </script>
        <![endif]-->
        <script src="/user/js/detect_mobilebrowser_and_ipad.js"></script>
        <script src="/user/js/jquery.easing.1.3.js"></script>
        <script src="/user/js/jquery.mixitup.min.js"></script>
        <script src="/user/js/fancybox/jquery.mousewheel-3.0.6.pack.js"></script>
        <script src="/user/js/fancybox/jquery.fancybox.pack8cbb.js?v=2.1.5"></script>
        <script src="/user/js/jquery.slides.min.js"></script>
        <script src="/user/js/mediaelement/mediaelement-and-player.min.js"></script>
        <script src="/user/js/jquery.cookies.min.js"></script>
        <script src="/user/js/main.js"></script>
    </head>

    <body class="bg_f0f2f2 color_53b7f9 light_skin">
        <div class="row-wrap wrapper light_skin">
            <div class="row-space">

                <header id="header" class="row noprint">
                    <h1 class="head-name">Amanda Smith</h1>
                    <div class="head-social">
                        <ul>
                            <li class="tw"><a href="https://twitter.com/" target="_blank">Twitter</a></li>
                            <li class="fb"><a href="https://www.facebook.com/" target="_blank">Facebook</a></li>
                            <li class="lnkd"><a href="https://www.linkedin.com/" target="_blank">Linkedin</a></li>
                            <li class="gplus"><a href="https://plus.google.com/" target="_blank">Google+</a></li>
                            <li class="drb"><a href="http://dribbble.com/" target="_blank">Dribble</a></li>
                            <li class="inst"><a href="http://instagram.com/" target="_blank">Instagram</a></li>
                        </ul>
                    </div>
                </header>
                {%  block main_content %}

                {%  endblock %}
            </div>
        </div>
        <!-- for quick loading -->
        <img class="hide" src="/user/images/bg/bg1.jpg" alt="" />
        <img class="hide" src="/user/images/bg/bg2.jpg" alt="" />
        <img class="hide" src="/user/images/bg/bg3.jpg" alt="" />
        <img class="hide" src="/user/images/bg/bg4.jpg" alt="" />
        <img class="hide" src="/user/images/bg/bg5.jpg" alt="" />
        <img class="hide" src="/user/images/bg/bg6.jpg" alt="" />
        <img class="hide" src="/user/images/bg/bg7.jpg" alt="" />
        <img class="hide" src="/user/images/bg/bg8.jpg" alt="" />
        <img class="hide" src="/user/images/bg/bg9.jpg" alt="" />
        <img class="hide" src="/user/images/bg/bg10.jpg" alt="" />
        <img class="hide" src="/user/images/bg/bg11.jpg" alt="" />
        <img class="hide" src="/user/images/bg/bg12.jpg" alt="" />

    </body>
       {% block  script %}

       {% endblock %}
</html>